  # Ignore version control systems
.git
.gitignore

# Ignore local database storage (Crucial!)
mysql_data/

# Ignore local environment secrets
.env
.env.local

# Ignore markdown documentation and logs
*.md
*.log
npm-debug.log*

# Ignore OS-specific system files
.DS_Store
Thumbs.db